# === Окружение и Кэш ===
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# === Локальные файлы конфигурации и логи ===
# Здесь хранятся ваши личные координаты калибровки и настройки лиги
config.json
scan_log.txt
*.log

# === Временные файлы и дебаг ===
# Скриншот, который создается при отладке OCR
debug_ocr.png

# === Локальные черновики ===
# Папка "old", которую видно на скриншоте (чтобы не захламлять репозиторий старыми версиями)
old/

# === Настройки сред разработки (IDE) ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp